- title t('.title'), false

- content_for :sidebar do
  = render 'edit_sidebar'

.page-header#page_header
  = render 'page_header'

#articles_table
  = render 'order_articles'

= render 'edit_javascript'
